.hamburger {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;

  &__item {
    width: 20px;
    height: 2px;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.3s linear;
  }
}

.hidden {
  display: none;
}

.rotate {
  transform: rotate(45deg);
}

.reverse-rotate {
  position: absolute;
  transform: rotate(-45deg);
}
