.results {
  margin: 30px auto 0;
  width: 75%;
}

.cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 9fr;

  &__card {
    width: 90px;
    justify-self: center;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  &__btn {
    margin-left: 10px;
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
    letter-spacing: 1px;
  }
}
